{% extends "base.html" %}

{% block content %}
<p>
   I am an Analytics Engineer and Data Scientist with over three years of experience working across the financial, marketing and CPG industries.
   Previously, I was a student at Columbia University where I received a Certificate of Quantitative Studies for Finance.
   Over the summer of 2017, I attended Metis, a full-time immersive data science bootcamp.
   Additionally, I have passed all three Levels of the CFA Level III Exam.
   I graduated from the University of Notre Dame in 2012.
</p>
<p>Enjoy!</p>
{% endblock %}
