{% extends "base.html" %}

{% block blog_content %}
<p>
   I am an Analytics Engineer and Data Scientist with over six years of experience working across the financial, marketing and CPG industries.
   Previously, I was a student at Columbia University where I received a Certificate of Quantitative Studies for Finance.
   Over the summer of 2017, I attended Metis, a full-time immersive data science bootcamp.
   While we're on the subject of me, may I also note that I have passed all three Levels of the CFA Level III Exam and
   I graduated from the University of Notre Dame in 2012.
   Aren't I great!
</p>
<p>
  This blog is a chance for me to share my projects and experiences from the world of data.
  I'm currently in the process of getting all my content up, so bear with me as we go!
</p>
<p>Enjoy!</p>
{% endblock %}
