{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row d-flex">
    {% for blog_data in blog_db %}
    <div class="col-md-4 mb-4 d-flex align-items-stretch">
      <div class="card flex-fill">
        <div class="card-body">
          <h5 class="card-title">{{ blog_data.title }}</h5>
          <a href="{{url_for('blog_posts.blog', name=blog_data.id)}}" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
