{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="container col-sm-10">
    <div class="card">
      <h4 class="card-header">Blogs</h4>
      <div class="card-body">
        <ul>
          {% for blog_title, blog_data in blog_db.items() %}
          <li><a href="{{url_for('blog_posts.blog', name=blog_title)}}">{{blog_data.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container col-sm-10">
    <div class="card">
      <h4 class="card-header">Models</h4>
      <div class="card-body">
        <ul>
          <li><a href="{{url_for('ml_models.models', name='luther')}}">Movie ROI Predictor</a></li>
          <li><a href="{{url_for('ml_models.models', name='mcnulty')}}">Lending Club Loan Default Prediction Model</a></li>
          <li><a href="{{url_for('ml_models.models', name='fletcher')}}">Kickstarter Pitch Funding Outcome Prediction Model</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container col-sm-10">
    <div class="card">
      <h4 class="card-header">Visuals <em>(D3.js)</em></h4>
      <div class="card-body">
        <ul>
          {% for visual_title, visual_data in visuals_db.items() %}
          <li><a href="{{url_for('visuals.visual', name=visual_title)}}">{{visual_data.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
