{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-md-12">
    <div id="accordion">

      <div class="card">
        <div class="card-header bg-dark" id="blogsHeading">
          <h5 class="mb-0">
            <button class="btn btn-dark btn-lg btn-block font-weight-bold" data-toggle="collapse" data-target="#blogsContent" aria-expanded="true" aria-controls="blogsContent">
              Blogs
            </button>
          </h5>
        </div>
      </div>

      <div id="blogsContent" class="collapse show" aria-labelledby="blogsHeading" data-parent="#accordion">
        <div class="card-body">
          {% include "carousels/blogs_carousel.html" -%}
          <div class="d-flex justify-content-center my-2">
            <a href="{{url_for('core.site_section_list', template_name='blogs_list')}}" class="btn btn-dark">All Blogs</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-dark" id="modelsHeading">
          <h5 class="mb-0">
            <button class="btn btn-dark btn-lg btn-block font-weight-bold" data-toggle="collapse" data-target="#modelsContent" aria-expanded="false" aria-controls="modelsContent">
              Models 
            </button>
          </h5>
        </div>
      </div>

      <div id="modelsContent" class="collapse" aria-labelledby="modelsHeading" data-parent="#accordion">
        <div class="card-body">
          {% include "carousels/models_carousel.html" -%}
          <div class="d-flex justify-content-center my-2">
            <a href="{{url_for('core.site_section_list', template_name='models_list')}}" class="btn btn-dark">All Models</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-dark" id="visualsHeading">
          <h5 class="mb-0">
            <button class="btn btn-dark btn-lg btn-block font-weight-bold" data-toggle="collapse" data-target="#visualsContent" aria-expanded="false" aria-controls="visualsContent">
              Visualizations
            </button>
          </h5>
        </div>
      </div>

      <div id="visualsContent" class="collapse" aria-labelledby="visualsHeading" data-parent="#accordion">
        <div class="card-body">
          {% include "carousels/visuals_carousel.html" -%}
          <div class="d-flex justify-content-center my-2">
            <a href="{{url_for('core.site_section_list', template_name='visuals_list')}}" class="btn btn-dark">All Visuals</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
