{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-md-12">
    <div class="card">
      <h4 class="card-header">Blogs</h4>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <ul>
              {% for blog_data in blog_db[0:3] %}
              <li><a href="{{url_for('blog_posts.blog', name=blog_data.id)}}">{{blog_data.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-6">
            <ul>
              {% for blog_data in blog_db[3:] %}
              <li><a href="{{url_for('blog_posts.blog', name=blog_data.id)}}">{{blog_data.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="{{url_for('core.site_section_list', template_name='blogs_list')}}">Click Here for More Blogs...</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-10 col-md-6">
    <div class="card">
      <h4 class="card-header">Models</h4>
      <div class="card-body">
        <ul>
          <li><a href="{{url_for('ml_models.models', name='luther')}}">Movie ROI Predictor</a></li>
          <li><a href="{{url_for('ml_models.models', name='mcnulty')}}">Lending Club Loan Default Prediction Model</a></li>
          <li><a href="{{url_for('ml_models.models', name='fletcher')}}">Kickstarter Pitch Funding Outcome Prediction Model</a></li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="{{url_for('core.site_section_list', template_name='models_list')}}">Click Here for More Models...</a>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-6">
    <div class="card">
      <h4 class="card-header">Visuals <em>(D3.js)</em></h4>
      <div class="card-body">
        <ul>
          {% for visual_data in visuals_db %}
          <li><a href="{{url_for('visuals.visual', name=visual_data.id)}}">{{visual_data.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-footer">
        <a href="{{url_for('core.site_section_list', template_name='visuals_list')}}">Click Here for More Visuals...</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
