{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="padding: 1rem 2rem">
  <h1 class="display-4">Models</h1>
</div>
<div class="container">
  <div class="row d-flex">
    {% for ml_model in ml_db %}
    <div class="col-md-4 mb-4 d-flex align-items-stretch">
      <div class="card flex-fill">
        <div class="card-body">
          <h5 class="card-title">{{ ml_model.title }}</h5>
          <a href="{{url_for('ml_models.models', name=ml_model.id)}}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
