{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="chart-area1"></div>
      </div>
      <div class="col-md-4">
        <div id="chart-area2"></div>
      </div>
      <div class="col-md-4">
        <div id="chart-area3"></div>
      </div>
    </div>
    <br>
</div>
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('visuals.static', filename='js/pieChart.js') }}"></script>
<script src="{{ url_for('visuals.static', filename='js/federal_budget.js') }}"></script>
{% endblock %}
