{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="form-group">
      <label for="houseSelect">Select House</label>
      <select id="houseSelect" class="form-control">
          <option selected value="gryffindor">Gryffindor</option>
          <option value="slytherin">Slytherin</option>
          <option value="hufflepuff">Hufflepuff</option>
          <option value="ravenclaw">Ravenclaw</option>
      </select>
    </div>
  </div>
</div>
<div id="chart-area"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
<script src="{{ url_for('visuals.static', filename='js/house_word_cloud.js') }}"></script>

{% endblock %}
