{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="chart-area"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <span id="source"><em>* Data sourced from <a href="#">nba.com</a></em></span>
      </div>
    </div>
    <br>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('visuals.static', filename='js/nba_biometrics.js') }}"></script>

{% endblock %}
