{% extends "base.html" %}

{% block viz_content %}
<!-- Bootstrap grid setup -->
<div class="container">
    <div id="selections" class="row">
        <div class="col-md-4">
            <div id="slider-div">
                <label>Date: <span id="dateLabel1">12/05/2013</span> - <span id="dateLabel2">31/10/2017</span></label>
                <div id="date-slider"></div>
            </div>
        </div>
        <div class="col-md-4">
            <select id="coin-select" class="form-control">
                <option selected value="bitcoin">Bitcoin</option>
                <option value="ethereum">Ethereum</option>
                <option value="bitcoin_cash">Bitcoin Cash</option>
                <option value="litecoin">Litecoin</option>
                <option value="ripple">Ripple</option>
            </select>
        </div>
        <div class="col-md-4">
            <select id="var-select" class="form-control">
                <option selected value="price_usd">Price in dollars</option>
                <option value="market_cap">Market capitalization</option>
                <option value="24h_vol">24 hour trading volume</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div id="chart-area"></div>
    </div>
</div>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/yield_curve.js"></script>
{% endblock %}
