{% extends "base.html" %}

{% block content %}
<!-- Bootstrap grid setup -->
<div class="container">
    <div id="selections" class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div id="slider-div">
                <label class="d-flex justify-content-center"><span id="dateLabel">{{date_str}}</span></label>
                <div id="date-slider"></div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="chart-area"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <span id="source"><em>* Data sourced from <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield">Treasury.gov</a></em></span>
      </div>
    </div>
    <br>
</div>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/yield_curve.js"></script>
{% endblock %}
