<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Boostrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Synatx Highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"/>
    {% if viz_page %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3-tip.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
    {% endif %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/redhead-favicon.jpg')}}">
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-python.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="navbar-brand" href="{{url_for('core.index')}}">BRENDAN/FITZPATRICK</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Site Sections
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('core.site_section_list', template_name='blogs_list')}}">Blogs</a>
                <a class="dropdown-item" href="{{url_for('core.site_section_list', template_name='models_list')}}">Models</a>
                <a class="dropdown-item" href="{{url_for('core.site_section_list', template_name='visuals_list')}}">Visuals</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="mailto:brendanjfitzpatrick0@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/bfitzpa5">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/brendanfitzpatrick11/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.twitter.com/bf2398">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('core.about')}}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% if blog or model -%}
      <header class="masthead">
        <div class="container">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="post-heading">
                <h1 {% if model -%}style="text-align: center;"{% endif %}>{{title}}</h1>
                {% if blog -%}<span class="meta" style="font-style: italic;">Posted on {{date}}</span>{% endif %}
                <hr>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="container col-md-8">
      {% endif %}
        {% block content -%}
        {% endblock %}
      {% if blog or model -%}
        </div>
      </div>{% endif %}
    </div>
    <br>
  </body>
</html>
