{% macro create_card(card_type, endpoint_name, title) %}

{%-
    set card_types = {
        'blog': {
          'endpoint': 'blog_posts.blog',
          'button_text': 'Read',
          'icon': 'fab fa-readme',
        },
        'model': {
          'endpoint': 'ml_models.models',
          'button_text': 'Predict',
          'icon': 'fas fa-calculator',
        },
        'visual': {
          'endpoint': 'visuals.visual',
          'button_text': 'Visualize',
          'icon': 'fas fa-chart-line',
        },
    }
-%}
{%-
    set endpoint = card_types[card_type]['endpoint']
-%}
{%-
    set button_text = card_types[card_type]['button_text']
-%}
{%-
    set icon = card_types[card_type]['icon']
-%}

<div class="card card-gradient border-dark flex-fill">
  <div class="card-body text-center">
    <h5 class="card-title text-light font-weight-bold mb-4 card-title-height">{{title}}</h5>
    <a href="{{url_for(endpoint, name=endpoint_name)}}" class="btn btn-outline-white btn-rounded px-3">
      <span class="ml-2">{{button_text}}</span>
      <i class="{{icon}} mx-2"></i>
    </a>
  </div>
</div>
{%- endmacro %}