{% extends "base.html" %}

{% block content %}
<p>
  Over the past ten years there has been a rise in fundraising sites, of which Kickstarter is one.
  Kickstarter is specifically a project based crowdfunding site, supporting artists, musicians, filmmakers, designers, and other creators.
  There have been over 380 thousand projects on Kickstarter to date, which makes deciding which projects to invest in a difficult endeavor.
  For this project, I decided to do an NLP analysis on Kickstarter projects to see if there are any patterns to be found.
</p>

<h2 id="dataset">DataSet</h2>
<p>For this project I scraped ~6500 projects for my dataset, looking specifically at two data points. The first is the “About” section in each projects page.</p>
<p><img src="{{ url_for('static', filename='04-fletcher/interfaceAboutKS.png') }}" alt="interfaceAbout"></p>
<p>And the second is the “Risks” section.</p>
<p><img src="{{ url_for('static', filename='04-fletcher/interfaceRisksKS.png') }}" alt="interfaceRisks"></p>

<h2 id="analysis">Analysis</h2>
<p>After gathering the data, I ran a word cloud as shown below.</p>
<img src="{{ url_for('static', filename='04-fletcher/wordCloud.png') }}" alt="wordCloud">
<p>We can see that games, films and music must be incoporated into a decent amount of projects.</p>
<p>
  I then used term frequency and inverse document frequency (TFIDF), to produce a composite weight for each term in each “About” document.
  <a href="https://nlp.stanford.edu/IR-book/html/htmledition/tf-idf-weighting-1.html">Stanford NLP’s site</a> gives a nice description of this.
</p>
<p>
  Using my TFIDF vectorization, I then applied cosine similiarity as a metric for each data point and used K-means algorithm to cluster each document into different topics.
  After, I personally went through these topics and labeled each.
  The distribution of topics is below.
</p>
<img src="{{ url_for('static', filename='04-fletcher/topics.png') }}" alt="topics" height=500 width=700>
<p>I then did the same for the “Risks” section.</p>
<p><img src="{{ url_for('static', filename='04-fletcher/riskCategories.png') }}" alt="riskCategories"></p>
<p>We can see that my labels are by no means exact though and that these topics do not appear to be very determinant of any decipherable pattern.</p>
<p>To obtain a visualization of these topics I used Principal Component analysis to reduce the dimensionality of the data set.
From this we obtain the below chart.</p>
<p><img src="{{ url_for('static', filename='04-fletcher/clusters.png') }}" alt="clusters"></p>
<p>As we can see there isn’t much of a regular pattern going on, but instead a nice flying V. Go Ducks!</p>

<h2 id="takeaways">Takeaways</h2>
<ul>
  <li>
    <p><strong><em>Keep Moving Forward</em></strong>
      A big setback for me on this project was gathering the data. Kickstarter’s site uses javascript, which makes scraping extremely different.
      I was forced to try a couple different solutions, including Scrapy Splash and then Selenium with Beautiful Soup before solving this.
      The problem was that it took me so much time to get the data, my analysis didn’t turn out very great.
    </p>
  </li>
  <li>
    <p>
      <strong><em>Future Improvements</em></strong>
      Obviously, this project needs quite a bit of work.
      I haven’t yet identified why my algorithm wasn’t working, but hope to go back over the next month and re-evaluate this to see if we can get a better result.
    </p>
    <p>
      I also hope to use the “FAQ” and “Comments” along with the above two to create a recommender system for future backers.
    </p>
    <p><img src="{{ url_for('static', filename='04-fletcher/interfaceFaqCommentsKS.png') }}" alt="interfaceFaqComments"></p>
  </li>
</ul>

<p>Thanks for reading!</p>

<div class="date">
  Written on August 18, 2017
</div>
{% endblock %}
