body {
  padding-top: 70px;
	font-family: Raleway;
}

h1 {
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 25px;
}

.jumbotron p {
  font-size: 21px;
  font-weight: 400;
}

table {
  font-size: 12px;
}

h3 {
  font-weight: 800;
}

p {
    line-height: 1.5;
    margin: 25px 0;
}

h3 + p {
    margin: 0 0;
}

.section-heading {
    font-size: 36px;
    font-weight: 800;
    margin-top: 60px;
}

.index-heading {
    font-size: 36px;
    font-weight: 800;
    margin-top: 5px;
    color: #343a40;
}

.thumbnail {
    height:250px;
}

.content-margins {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron {
	color: #2c3e50;
}

.visuals-header {
  text-align: center;
}

#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#reset-button, #play-button, #slider-div, #current-button {
	float: left;
	margin-right:10px;
}

#slider-div {
	width:300px;
	margin-left:10px;
}

#reset-button, #play-button, #current-button {
	margin-top: 5px;
	margin-bottom:10px;
}

#continent-select {
	width: 150px;
	float:right;
	margin-top:5px;
}

.eastern-conference-wildcard {
  opacity: 0.3;
  stroke: #BE0D2E;
  stroke-width: 0.5px;
  stroke-dasharray: 5 5;
}

.western-conference-wildcard {
  opacity: 0.3;
  stroke: #003F7F;
  stroke-width: 0.5px;
  stroke-dasharray: 5 5;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.circle {
  fill: steelblue;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

#selections .col-md-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pic-margins {
  margin-top: 25px;
  margin-bottom: 25px;
}

.team-tooltip {
  color: aqua;
  text-transform: capitalize;
}

.axisSteelBlue text{
  fill: steelblue;
}

.barsFill text{
  fill: #82E0AA;
}

.simpletable {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.simpletable caption {
  caption-side: top;
  text-align: center;
  color: #212529;
  font-weight: 800;
  font-size: 16px;
}
.simpletable td,
.simpletable th {
  border: none;
}

.card-gradient {
  background: rgb(52,58,64);
  background: radial-gradient(circle, rgba(52,58,64,1) 0%, rgba(52,129,150,1) 100%);
}

.btn-outline-white {
  color: #fff !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
}

.btn-rounded {
  border-radius: 10em;
}

.card-title-height {
  min-height: 4em;
}

.axisNBA path,
.axisNBA line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

a.dropdown-item:hover {
  background-color: #138496;
}

#ncaa-data-table {
  overflow-x: scroll;
}