{% extends "base.html" %}

{% block viz_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/d3-tip.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
{% endblock %}

{% block content %}
  <div class="container" id="data-loading-spinner">
    <div class="row d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <span>Loading</span>
    </div>
  </div>
  <div id="chart-area"></div>
  <script src="{{ url_for('visuals.static', filename='js/lib/d3.min.js') }}"></script>
  <script src="{{ url_for('visuals.static', filename='js/lib/d3-tip.js') }}"></script>
  <p id="StockIndex" hidden>dowjones</p>
  <script src="{{ url_for('visuals.static', filename='js/index_component_stock_weightings.js') }}"></script>
{% endblock %}
