{% extends "base.html" %}

{% block viz_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/d3-tip.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
{% endblock %}

{% block content %}
<!-- Bootstrap grid setup -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div id="chart-area"></div>
      </div>
      <div id="selections" class="col-md-2 d-flex justify-content-center">
          <div id="slider-div">
            <label class="d-flex justify-content-between">
                <span class="font-weight-bold" style="font-size: 0.75rem">Date:</span>
                <span id="dateLabel" style="font-size: 0.75rem"></span>
            </label>
            <div id="date-slider"></div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <span id="source"><em>* Data sourced from <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield">Treasury.gov</a></em></span>
      </div>
    </div>
    <br>
</div>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="{{ url_for('visuals.static', filename='js/lib/d3.min.js') }}"></script>
<script src="{{ url_for('visuals.static', filename='js/yield_curve.js') }}"></script>
{% endblock %}
