{% extends "base.html" %}

{% block blog_content %}
<p>
  I love watching Netflix.
</p>
<p>
  But, when I'm looking to watch Netflix I'm usually feeling pretty lazy.
  And what's worse than having to click chrome, then the url bar, AND THEN type in netflix.com?
  Soooo, much effort!
</p>
<p>
  So as a fun little side project, I decided to use my bash scripting skills to the test.
  First, I created two commands, one for chrome and one for netflix, in a file named <em>.bash_aliases</em> located in my root (<em>~</em>) directory.
</p>
<script src="https://gist.github.com/bfitzpa5/641f7b4cd560ea3d501d79969de330f5.js"></script>
<p>
  Then, to tell your shell to use these alias, you have add the file to your <em>.bashrc</em> using the below lines.
</p>
<script src="https://gist.github.com/bfitzpa5/ad5c6190613b884b1f1974de689a1b0c.js"></script>
<p>
  I put in an <em>if</em> statement to check for the file first so it doesn't crash sourcing your <em>.bashrc</em> if it can't find it.
</p>
<p>
  Finally, to run this script, all you have to do is type <em>netflix</em> into your shell to launch Netflix, saving you a valuable ~2.5 seconds each you tune in!
  Under that assumption, every 720 times you launch Netflix, you'll have saved 30 minutes total, enough to watch a whole additional show!
</p>
<p>
  <div class="d-flex justify-content-center">
    <img src="https://www.alumni.uc.edu/image/stories/gifs/FreeTime_Lebron.gif" alt="I have so much free time gif">
  </div>
</p>

{% endblock %}
