{% extends "base.html" %}

{% block content %}
<p>
  For my third project at Metis, I built a pitch classification model.
  The data was sourced through scraping Kickstarter using Selenium (see post <a href="#">here</a> for more detail).
  The model turned pitches into a <em>Term-Frequency-Inverse-Document-Frequency</em> matrix per word as the dependent variables, with the pitch out (1 for successfully funded, 0 for failure to fund) as the independent.
  To create the bag-of-words model we'll use sklearn's TfidfVectorizer.
  First, importing and cleaning the data.
</p>
<pre class="language-python"><code>{% include "include_docs/nlp_classification_model/code1.py" %}</code></pre>
<p>Now let's look at some Kickstarter pitches, aka stories</p>
{% include "include_docs/nlp_classification_model/table1.html" %}
<p>
  Those lengthy pitches make for a lot of NLP data to work with!
  Next we'll run our stories through a TfidfVectorizer and then send that to our model.
</p>
<pre><code class="language-py">{% include "include_docs/nlp_classification_model/code2.py" %}</code></pre>
<p>
  This returns an accuracy score of 99.46%.
  Now, we, the potential kickstarter investor, can know before a project starts whether it will be funded!
</p>
{% endblock %}
