{% extends "base.html" %}

{% block blog_content %}
<pre class="language-py"><code>import psycopg2
from connection_config import cc
from aws_credentials import aws_creds

class RedshiftSQLHelper:

    def __init__(self, fin):
        self.fin = fin
        self.sql = open(fin, 'r').read()
        self.conn = psycopg2.connect(**cc)
        self.cur = self.conn.cursor()
        self.commands = list()
        self.split_commands()

    def split_commands(self):
        sql = open(self.fin, 'r').read()
        for command in sql.split(';\n'):
            command = command.strip()
            if 'copy ' in command:
                command = command.format(**aws_creds)
            if command != '':
                self.commands.append(command)

    def print_commands(self):
        for command in self.commands:
            print('\n' + '*' * 80 + '\n\n', command)

    def excecute_commands(self):
        for command in self.commands:
            print('\n' + '*' * 80 + '\n\n', 'Executing:', '\n', command)
            self.cur.execute(command)
        self.cur.close()
        print('\n' + '*' * 80 + '\n\n', 'Execution Complete')</code></pre>
{% endblock %}
