{% extends "base.html" %}

{% block content %}
<p>
  Regex not only sounds cool, it <strong>IS</strong> cool!
  Even better it's useful!
  In my humble opinion, it's one of the more under-rated tools in a data scientist's toolbelt.
</p>
<p>
  I'm currently in the process of putting together a dashboard to compare the heavyweights in boxing.
  One field that is important is boxing is height.
  It determines striking angles and defensive tactics among other things.
  Obviously, we would want to include a view on boxing height in any dashboard comparing boxers.
</p>
<p>
  The major issue when looking at height is that it comes in a string form usually like <em>6'3"</em>.
  This isn't a great way to analyze and compare heights.
  Therefore we need to take that and get it into a numerical format in a single metric (i.e. only inches instead of feet and inches).
</p>
<p>
  However, the next challenge is how do we actually extract that information and translate it to inches?
  We could split the string twice but that's a bit clunky.
  Instead, being the clever bloke that I am, I chose to use named regex capture groups.
  The below illustrates the steps taken to do so, including code and table outputs.
</p>
<p>
  First, let's import the data and only take the columns we need for this exercise.
</p>
<pre class="language-py"><code>{% include "include_docs/regex-named-capture-groups/code1.py" %}</code></pre>
{% include "include_docs/regex-named-capture-groups/raw-data.html" %}
<p>
  Second, let's get rid of those pesky metric measures to only have the feet and inches string.
</p>
<pre class="language-py"><code>{% include "include_docs/regex-named-capture-groups/code2.py" %}</code></pre>
{% include "include_docs/regex-named-capture-groups/ft-inches-str.html" %}
<p>
  Before creating the named capture groups, let's mask sure that all our inputs match the pattern (excluding NAs).
</p>
<pre class="language-py"><code>{% include "include_docs/regex-named-capture-groups/code3.py" %}</code></pre>
{% include "include_docs/regex-named-capture-groups/ft-inches-str-check-fail.html" %}
<p>
  Oh no! Looks like the 1/2 character is causing some issues. Let's replace that with '0.5' and try again.
  Good thing we checked!
</p>
<pre class="language-py"><code>{% include "include_docs/regex-named-capture-groups/code4.py" %}</code></pre>
{% include "include_docs/regex-named-capture-groups/ft-inches-str-check-pass.html" %}
<p>
  No results means everything matches.
  Now, let's add those named capture groups.
</p>
<pre class="language-py"><code>{% include "include_docs/regex-named-capture-groups/code5.py" %}</code></pre>
{% include "include_docs/regex-named-capture-groups/ft-inches-columns.html" %}
<p>
  Finally (drumroll please...) we will convert feet to inches and add inches to that.
</p>
<pre class="language-py"><code>{% include "include_docs/regex-named-capture-groups/code6.py" %}</code></pre>
{% include "include_docs/regex-named-capture-groups/height-in-inches.html" %}
<p>
  Bada-bing bada-boom!
  Keep checking-in for my heavyweight dashboard, coming soon to a computer near you!
</p>
<p>
  Thanks for reading!
</p>

{% endblock %}
