{% extends 'base.html' %}

{% block content %}
<pre><code class="language-sql">{% include "include_docs/s_and_p_500_analysis/code1.sql" %}</code></pre>
<pre class="language-sql"><code>{% include "include_docs/s_and_p_500_analysis/code2.sql" %}</code></pre>
<pre class="language-sql"><code>{% include "include_docs/s_and_p_500_analysis/code3.sql" %}</code></pre>
<pre class="language-sql"><code>{% include "include_docs/s_and_p_500_analysis/code4.sql" %}</code></pre>
<pre class="language-sql"><code>{% include "include_docs/s_and_p_500_analysis/code5.sql" %}</code></pre>
<pre class="language-sql"><code>{% include "include_docs/s_and_p_500_analysis/code6.sql" %}</code></pre>
<pre class="language-sql"><code>{% include "include_docs/s_and_p_500_analysis/code7.sql" %}</code></pre>
{% endblock %}
