{% extends "base.html" %}

{% block blog_content %}
<p>
  If I were to be honest with myself, I'd have to admit I'm a bit type-A.
  This can be both a blessing and a curse. For example, a blessing is that my apartment is always clean.
  The curse is that I spend <em>way</em> too much time cleaning my apartment.
</p>
<p>
  Over the past year I've become very investing in weightlifting.
  Although it might seem contradictory, being a data-nerd and meathead actually go hand-in-hand.
  When you get into the knitty-gritty of weightlifting, it's all about tracking progress.
  You need to track your workouts obviously (e.g. amount lifted per exercise, number of reps, etc.), but also what you eat (e.g. protein, carbs, fats, etc.)
  and also have these inputs lead to results (e.g. bodyweight, body fat %, muscle % etc.).
</p>
<p>
  I've attempted to track my workouts in excel every morning.
  After failing to consistently do so, I've decided to turn this into a blog project for extra motivation.
  This is a WIP, but click the below link to see the current status of my workout log.
  I will continue to update this and start adding some visuals to show off my excel skills, so stay tuned!
</p>
<p>
  <a href="{{url_for('api.workout_log')}}">Click here to download my workout log excel</a>
</p>


{% endblock %}
