{% extends "blogs_base.html" %}

{% block blog_content %}
<p>
  If I were to be honest with myself, I'd have to admit I'm a bit type-A.
  This can be both a blessing and a curse. For example, a blessing is that my apartment is always clean.
  The curse is that I spend <em>way</em> too much time cleaning my apartment.
</p>
<p>
  Over the past year I've become very invested in weightlifting.
  Although it might seem contradictory, being a data-nerd and meathead actually go hand-in-hand.
  When you get into the knitty-gritty of weightlifting, it's all about tracking progress.
  There's a ton of data that needs to be tracked:
</p>
<ul>
  <li>The workouts obviously (e.g. amount lifted per exercise, number of reps, etc.)</li>
  <li>What you eat (e.g. protein, carbs, fats, etc.)</li>
  <li>The results of the first two inputs (e.g. bodyweight, body fat %, muscle % etc.)</li>
</ul>
<p>
  I've attempted to track my workouts in excel every morning.
  After failing to consistently do so, I've decided to turn this into a blog project for extra motivation.
  This is a WIP, but click the below link to see the current status of my workout log.
  I will continue to update this and start adding some visuals to show off my excel skills.
</p>
<p>
  Stay tuned!
</p>
<p>
  <a href="{{url_for('api.excel_downloads', filename='Workout_Log.xlsx')}}">Click here to download my workout log excel</a>
</p>
{% endblock %}
