{%- from "create_card.html" import create_card with context -%}
<div id="carouselBlogs" class="carousel slide" data-ride="carousel">
  <div class="d-flex justify-content-center my-2">
    <a class="btn btn-dark mx-1" href="#carouselBlogs" role="button" data-slide="prev">
      <i class="fas fa-arrow-alt-circle-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="btn btn-dark mx-1" href="#carouselBlogs" role="button" data-slide="next">
      <i class="fas fa-arrow-alt-circle-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="carousel-inner">
    {%- for blog in blog_db %}
    <div {% if loop.first -%}class="carousel-item active"{%- else -%}class="carousel-item"{%- endif -%}>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          {{ create_card('blog', blog.id, blog.title) }}
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>

</div>