{% extends "base.html" %}

{% block content %}
<p>
   Hi! My name is Brendan Fitzpatrick.
   I have been in the Data Science and Analytics field for the past three years.
   Previously, I was a student at Columbia University getting a certificate of Quantitative Studies for Finance.
   Through this program, I have taken courses in Linear Algebra, Convex Optimization, Analysis, Programming in Java, Data Structures, Probability Theory and Statistical Inference.
   Additionally, I have passed all three Levels of the CFA Level III Exam.
   I graduated from the University of Notre Dame in 2012.
 </p>
<p>
  Over the summer I went to Metis’ Data Science Bootcamp in order to transition careers to data science.
  Prior to that, I worked as a corporate paralegal at Simpson, Thacher and Bartlett LLP and an analyst at the Blackstone Group.
  This blog is a chance for me to share my experiences at Metis and my projects.
</p>
<p>Enjoy!</p>
{% endblock %}
