<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brendan Fitzpatrick's Metis Blog</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="navbar-brand" href="{{url_for('index')}}">Brendan's Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blogs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('blog', name='benson') }}">Project 1 - Benson</a>
                <a class="dropdown-item" href="{{ url_for('blog', name='luther') }}">Project 2 - Luther</a>
                <a class="dropdown-item" href="{{ url_for('blog', name='mcnulty') }}">Project 3 - McNulty</a>
                <a class="dropdown-item" href="{{ url_for('blog', name='fletcher') }}">Project 4 - Fletcher</a>
                <a class="dropdown-item" href="{{ url_for('blog', name='kojak') }}">Project 5 - Kojak</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="mailto:brendanjfitzpatrick0@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/bfitzpa5">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/brendanfitzpatrick11/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.twitter.com/bf2398">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" id="blog">
      <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
      </div>
      <div class="container" id="blog-text">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-10 mx-auto">
      {% block content %}

      {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
