{% extends "base.html" %}

{% block content %}
  <h2 class="section-heading">Blogs</h2>
  <hr style="margin-top: 0">
  <div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ projects[project].title }}</h5>
          <a href="{{ url_for('blog', name=project) }}" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2 class="section-heading">Models</h2>
  <hr style="margin-top: 0">
  <div class="row">
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Gross Movie Profit Predictor App</h5>
          <a href="#" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Borrower Default Predictor App</h5>
          <a href="#" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Kickstarter Pitch Bot</h5>
          <a href="#" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
  </div>
  <h2 class="section-heading">Visualizations</h2>
  <hr style="margin-top: 0">
  <div class="row">
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Box Office Films by Year</h5>
          <a href="#" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Borrower Default Rate Choropleth Map</h5>
          <a href="#" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 d-flex align-items-stretch" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Harry Potter Word2Vec</h5>
          <a href="#" class="btn btn-dark">Go to page</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
