<div id="carouselBlogs" class="carousel slide" data-ride="carousel">
  <div class="d-flex justify-content-center my-2">
    <a class="btn btn-dark mx-1" href="#carouselBlogs" role="button" data-slide="prev">
      <i class="fas fa-arrow-alt-circle-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="btn btn-dark mx-1" href="#carouselBlogs" role="button" data-slide="next">
      <i class="fas fa-arrow-alt-circle-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="carousel-inner">
    {%- for blog in blog_db %}
    <div {% if loop.first -%}class="carousel-item active"{%- else -%}class="carousel-item"{%- endif -%}>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <div class="card card-gradient border-dark">
            <div class="card-body text-center">
              <h5 class="card-title text-light font-weight-bold mb-4">{{blog.title}}</h5>
              <a href="{{url_for('blog_posts.blog', name=blog.id)}}" class="btn btn-outline-white btn-rounded">
                <span class="ml-2">Read</span>
                <i class="fab fa-readme mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>

</div>